# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.suo

/.vs
*.vcxproj
/Tile-RTS/.vs/Tile-RTS/v15/Browse.VC.opendb
/Tile-RTS/.vs/Tile-RTS/v15/Browse.VC.db
/Tile-RTS/.vs/Tile-RTS/v15/ipch/AutoPCH/456b4c2d48f407eb
/Tile-RTS/.vs/Tile-RTS/v15/ipch/AutoPCH
/Tile-RTS/.vs/Tile-RTS/v15/ipch/AutoPCH
*.ipch
